:root {
  --local-red: hsl(0, 100%, 74%);
  --local-green: hsl(154, 59%, 51%);
  --light-green: #77e2b4;
  --local-blue: hsl(248, 32%, 49%);
  --local-dark-blue: hsl(249, 10%, 26%);
  --local-grayish-blue: hsl(246, 25%, 77%);
}

/* || BOX MODEL FIX */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* || SIGN UP FORM */

#signUpForm {
  background-color: white;
  border-radius: 1rem;
}

#signUpForm {
  box-shadow: 0px 8px 4px 0px rgb(0 0 0 / 40%);
}

#signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signUpForm > * {
  width: 90%;
}

/* || INPUTS */

.input-item {
  min-height: 6rem;
  max-height: 6rem;
}

.helper-placeholder::placeholder {
  color: var(--local-red);
}

#signUpForm input:first-of-type {
  margin-top: 2rem;
}

#signUpForm input {
  padding: 1rem;
  font-weight: bold;
  border-style: ridge;
  border-color: var(--local-grayish-blue);
  border-width: 1px;
  border-radius: 0.3rem;
}

/* || VALIDATION FEEDBACK */

.invalid-feedback {
  text-align: right;
  font-style: italic;
}

/* || SUBMIT BUTTON */

#submitButton {
  background-color: var(--local-green);
  border: none;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1rem;
}

#submitButton {
  box-shadow: inset 0px -5px 0px 0px rgb(0 0 0 / 40%);
}

/* || CONSENT WARNING */

#consentWarning {
  color: var(--local-grayish-blue);
  margin-top: 0;
}

#termsAndServices {
  color: var(--local-red);
  font-weight: bold;
}
